//Color
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

//Font Size
$font-sm: 16px;
$font-med: 26px;
$font-xmed: 40px;
$font-lar: 48px;
$font-xlar: 60px;

//body
// font-family: 'Alata', sans-serif;

//heading
// font-family: 'Josefin Sans', sans-serif;
